<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="layout/fragment/header :: header"></th:block>
<th:block th:fragment="content">

    <h1 class="mt-4">자유게시판 글 작성하기</h1>
    <form th:action="@{/free/register}" th:method="post">
        <div class="form-group">
            <label > Title</label>
            <input type="text" class="form-control" name="title" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label >Content</label>
            <textarea class = "form-control" rows="5" name="content"></textarea>
        </div>


        <input type="hidden" class="form-control" name="writerId" placeholder="id" >

        <button type="submit" class="btn btn-primary">저장</button>

    </form>
</th:block>
</th:block>
</html>
